main > div {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 220px;
    top: 100px;
    width: calc(100% - 220px);
    min-height: calc(100% - 100px);
    animation: appear 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.noResults {
    top: 175px;
    min-height: unset;
    animation: none;
}

.noResults h1 {
    position: fixed;
    top: 80px;
    left: 220px;
}


@media screen and (max-width: 800px) {
    main > div {
        top: 105px;
        left: 145px;
        width: calc(100% - 110px);
    }

    .noResults {
        top: 240px;
        min-height: unset;
    }

    .noResults h1 {
        top: 80px;
        left: 140px;
        width: 55%;
        font-size: 24px;
    }
}

@keyframes appear {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}