main > div {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 220px;
    top: 100px;
    width: calc(100% - 220px);
    min-height: calc(100% - 100px);
}

main h1 {
    position: fixed;
    top: 80px;
    left: 220px;
}

@media screen and (max-width: 800px) {
    main > div {
        top: 105px;
        left: 145px;
        width: calc(100% - 110px);
    }

    main h1 {
        top: 80px;
        left: 140px;
        width: 55%;
        font-size: 24px;
    }
}