.leftColumn {
    position: fixed;
    width: 200px;
    height: 100%;
    margin-top: 100px;
    padding: 0 10px;
    overflow-y: auto;
}

.leftColumn__heading {
    font-size: 32px;
    margin-bottom: 8px;
}

.leftColumn ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.leftColumn__category {
    cursor: pointer;
    width: fit-content;
    margin-bottom: 2px;
}

@media screen and (max-width: 800px) {
    .leftColumn {
        width: 100px;
    }

    .leftColumn__heading {
        font-size: 20px;
        font-weight: 700;
    }
}